{% extends "dashboard/base.html" %}
{%load staticfiles%}
{%block extrahead%}

<link href="{% static "css/homeform.css" %}" rel="stylesheet" />
{%endblock extrahead%}

{%block content%}



<div class="row" style="margin-top:10px;">
    <div class="col l12 col m12 col s12">
        <div class="card">
            <div class="body">
               <h5 class="">Enter Assets & Weight</h5>


            <form class="form-horizontal" style="" action="#" method="post" enctype="multipart/form-data" onsubmit= "return validateform()">
            {%csrf_token%}
            {% for choice in form.like %}
                    {{ choice.tag }}
                    <label for="{{ form.like.auto_id }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
                    
            {% endfor %}
           <!--  <div class="row">
            {%for field in form %}
                    {%if field.errors%}
                    <span style="color:#FF0000;">{{ field.errors }}</span>
                    {%endif%}
                  <div class="input-field inline col s6">
                    {{field}}
                    {{field.label_tag}}
                    
                  </div>
                    
                    
               
              {%endfor%}
            </div> -->
            <div class="row">
                <div class=" input-field inline col s6">
                    
                    {{form.start_date}}<span style="color:#FF0000;">{{form.start_date.errors}}</span>
                    <label>{{form.start_date.label}}</label>
                    
                </div>
                <div class=" input-field inline col s6">
                    {{form.end_date}}<span style="color:#FF0000;">{{form.end_date.errors}}</span>
                    <label>{{form.end_date.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse1}}
                    <label>{{form.warehouse1.label}}</label>
                </div>
                 <div class=" input-field inline col s6">
                    {{form.store1}}<span style="color:#FF0000;">{{form.store1.errors}}</span>
                    <label>{{form.store1.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse2}}
                    <label>{{form.warehouse2.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store2}}<span style="color:#FF0000;">{{form.store2.errors}}</span>
                    <label>{{form.store2.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse3}}
                    <label>{{form.warehouse3.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store3}}<span style="color:#FF0000;">{{form.store3.errors}}</span>
                    <label>{{form.store3.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse4}}
                    <label>{{form.warehouse4.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store4}}<span style="color:#FF0000;">{{form.store4.errors}}</span>
                    <label>{{form.store4.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse5}}
                    <label>{{form.warehouse5.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store5}}<span style="color:#FF0000;">{{form.store5.errors}}</span>
                    <label>{{form.store5.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse6}}
                    <label>{{form.warehouse6.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store6}}<span style="color:#FF0000;">{{form.store6.errors}}</span>
                    <label>{{form.store6.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse7}}
                    <label>{{form.warehouse7.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store7}}<span style="color:#FF0000;">{{form.store7.errors}}</span>
                    <label>{{form.store7.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse8}}
                    <label>{{form.warehouse8.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store8}}<span style="color:#FF0000;">{{form.store8.errors}}</span>
                    <label>{{form.store8.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse9}}
                    <label>{{form.warehouse9.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store9}}<span style="color:#FF0000;">{{form.store9.errors}}</span>
                    <label>{{form.store9.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse10}}
                    <label>{{form.warehouse10.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store10}}<span style="color:#FF0000;">{{form.store10.errors}}</span>
                    <label>{{form.store10.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse11}}
                    <label>{{form.warehouse11.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store11}}<span style="color:#FF0000;">{{form.store11.errors}}</span>
                    <label>{{form.store11.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse12}}
                    <label>{{form.warehouse12.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store12}}<span style="color:#FF0000;">{{form.store12.errors}}</span>
                    <label>{{form.store12.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse13}}
                    <label>{{form.warehouse13.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store13}}<span style="color:#FF0000;">{{form.store13.errors}}</span>
                    <label>{{form.store13.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse14}}
                    <label>{{form.warehouse14.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store14}}<span style="color:#FF0000;">{{form.store14.errors}}</span>
                    <label>{{form.store14.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.warehouse15}}
                    <label>{{form.warehouse15.label}}</label>
                </div>
                <div class=" input-field inline col s6">
                    {{form.store15}}<span style="color:#FF0000;">{{form.store15.errors}}</span>
                    <label>{{form.store15.label}}</label>
                </div>
                             
            </div>
            <div class="row">
                <div class="col s4 offset-s4"> 
                    <label><h5 class="center-align">Benchmark</h5></label>
                    <input type="text" >
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field ">
                    <button class="btn cyan waves-effect waves-light" type="submit" name="action">Submit
                    <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </div>
            </form>

            </div>
        </div>
    </div>
</div>
<!--
<div class="row" style="margin-top:10px;">
    <div class="col l12 col m12 col s12">
        <div class="card">
            <div class="body">
               <h5 class="">Enter Assets & Weight</h5>

            <form class="form-horizontal" style="" action="" method="post" enctype="multipart/form-data">
              {%csrf_token%}

            
                {%for field in form%}
                    {%if field.errors%}
                    <span style="color:#FF0000;">{{ field.errors }}</span>
                    {%endif%}
                <div class="input-field inline col s6">
                    {{field.label_tag}}
                    {{field}}

                </div>
                {%endfor%}
                <div class="row">
                    <div class="input-field ">
                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                        <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
           
            </form>

            
        </div>
    </div>
</div>


-->

{%endblock content%}
{%block extrajs%}
<script type="text/javascript">

$('.datepicker').bind('click', function(e) {
        if (e.which == 3) {
            $('.datepicker').pickadate('hide');
        } else {
            $(".datepicker").pickadate({
                format: 'yyyy-mm-dd',
                
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 17, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false 

            });
        }
    });

</script>


{%endblock extrajs%}
